.terraform/
*.pem
*.venv/
terraform_1.9.0_linux_amd64.zip
env/

*.war
target/
*.nar
*.env
*.dockerignore
docker-compose.override.yml
*.log
.idea/
*.jar
*.ear
*.tar.gz
*.rar
.venv/

*.pyc
__pycache__/

Python-3.9.9/
Python-3.9.9.tgz